body {
  background-color: #f7f7f7;
}

::selection {
  background: #ff4400;
  color: #fff;
}

::-moz-selection {
  background: #ff4400;
  color: #fff;
}

label {
  font-family: 'Open Sans', Sans;
  font-weight: 100;
  font-size: 36px;
  color: #a0a0a0;
}

.container {
  font-family: 'Open Sans', Sans;
  font-weight: 100;
  font-size: 18px;
  color: #484850;
  background: #f7f7f7;
  width: 50%;
  padding: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.caret {
  border-style: solid;
  border-width: 10px 10px 0px 10px;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-top-color: rgba(0,0,0,.8);
  border-right-color: transparent;
  width: 0px;
  height: 0px;
  display: block;
  position: absolute;
  top: 51px;
  left: 50%;
  transform: translateX(-50%);
}

#highlight_menu {
  font-family: 'Open Sans', Sans;
  font-weight: 100;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  background: rgba(0,0,0,.8);
  position: absolute;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.highlight_menu_animate {
  transition: top 75ms ease-out,left 75ms ease-out;
}

.side-by-side {
  width: 100%;
  padding:0;
  margin:10px;
  margin-top:14px;
}
.side-by-side li {
  display: inline;
  padding: 10px;
}
